.right__sidebar  {
    position: relative;
    z-index: 3;
}

.right__sidebar > .wrapper-right__sidebar {
    position: fixed;
    right: 0;
}

.right__sidebar #content {
    position: relative;
}

.right__sidebar #chatwindow, .right__sidebar #chatmsg {
    color: rgb(255, 255, 255);
    background: rgb(31, 36, 36);
    border: 1px solid #242635;
}

.right__sidebar #chatwindow {
    width: 320px;
    height: calc(100vh - 138px);
    padding: 10px 0px 0px 10px;
    border-radius: 5px 0px 0px;
    overflow: auto;
}

.right__sidebar #chatwindow::-webkit-scrollbar {
    width: 0; 
}

.right__sidebar #chatmsg {
    position: absolute;
    width: 100%;
    margin: -25px 0px 0px;
    padding: 10px 0px 10px 10px;
    border-radius: 0px 0px 0px 5px;
}

.right__sidebar #chatmsg, .right__sidebar #chatmsg::placeholder {
    font-size: 12px;
}

.right__sidebar #chatmsg::placeholder {
    color: #fff;
    text-transform: uppercase;
}

.right__sidebar button[type="submit"] {
    display: none;
}

#chatwindow > span.date {
    margin: 0 10px 0;
    color: #969696;
    font-size: 10px;
}

#chatwindow > span > xmp {
    display: contents;
    white-space: break-spaces;
    word-break: break-word;
}