.dark-mode {
  background-color: #fff;
}

.dark-mode div, .dark-mode span,  .dark-mode button {
  color: #000;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6, .dark-mode p {
  color: #000;
}

.dark-mode .app__logo h3, .dark-mode .app__nav__language__current span#page__language, .dark-mode .app__nav__page__nightmode svg, .dark-mode #login_btn {
  color: #000;
}

.dark-mode .app__nav__page__language > .app__nav__language__current > a, .dark-mode .app__nav__menu > .app__nav__page__nightmode, .dark-mode #login_btn {
  background-color: #ebebeb;
  border: 1px solid #969696;
}

.dark-mode .app__nav__language__current svg {
  fill: #000;
}

.dark-mode .app__nav__page__language > .app__nav__language__dropdown {
  background-color: #ebebeb;
  border: 1px solid #969696;
  border-radius: 5px;
  color: #000;
}

.dark-mode .app__nav__language__dropdown > .app__nav__language {
  color: #000;
}

.dark-mode .app__nav__page__language > .app__nav__language__current {
  width: 84px;
}

.dark-mode a#login__btn {
  background-color: #ebebeb;
  border: 1px solid #969696;
  color: #000;
}

.dark-mode .right__sidebar #chatwindow, .dark-mode .right__sidebar #chatmsg {
  background: #f5f5f5;
  color: #000;
}

.dark-mode .right__sidebar #chatmsg::placeholder {
  color: #474747;
}

.dark-mode .container_auth > input[type=text], .dark-mode .container_auth > input[type=email], .dark-mode .container_auth > input[type=password] {
  background: #ebebeb;
  color: #000;
}

.dark-mode .container_auth > input::placeholder {
  color: #000;
}

.dark-mode .modal-content {
  background-color: #ebebeb;
}

.dark-mode .imgcontainer > .close {
  color: #000;
}

.dark-mode .modal label, .dark-mode .modal .container_auth span, .dark-mode .modal .container_auth span > a, .dark-mode .container_auth > p {
  color: #000;
}

.dark-mode #id01 > form > div:nth-child(3) {
  background-color:#ebebeb;
}

.dark-mode .user-balance {
  background: #ebebeb;
  border: 1px solid #969696;
  color: #000;
}

.dark-mode .input__block > label > input {
  color: #000;
}