.dark-mode {
  background-color: #fff;
  color: #000;
}

.dark-mode .app__logo > h3, .dark-mode .app__nav__language__current > span#page__language, .dark-mode .app__nav__page__nightmode > svg {
  color: #000;
}

.dark-mode .app__nav__page__language > .app__nav__language__current, .dark-mode .app__nav__menu > .app__nav__page__nightmode {
  background-color: #ccc;
  border: 2px solid #969696;
}

.dark-mode .app__nav__language__current > svg {
  fill: #000;
}