*::-webkit-input-placeholder {color: #666; opacity: 1;}
*:-moz-placeholder {color: #666;opacity: 1;}
*::-moz-placeholder {color: #666;opacity: 1;}
*:-ms-input-placeholder {color: #666;opacity: 1;}
body input:focus:required:invalid, body textarea:focus:required:invalid {}
body input:required:valid, body textarea:required:valid {}
html.js .loader {background: none repeat scroll 0 0 #ffffff;bottom: 0;height: 100%;left: 0;position: fixed;right: 0;top: 0;width: 100%;z-index: 9999;}
html.js .loader_inner {background-image: url("../img/preloader.gif");background-size: cover;background-repeat: no-repeat;background-position: center center;background-color: #fff;height: 60px;width: 60px;margin-top: -30px;margin-left: -30px;left: 50%;top: 50%;position: absolute;}
body {
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	background-color: #2A2D33;
}
input:focus,select:focus,button:focus,textarea:focus {outline: none;}
a, a:hover, a:focus {text-decoration: none;outline: none;}
ul,ol {padding: 0;margin: 0;list-style: none;}
textarea {resize: none;}

.hidden {display: none;}

h1,h2,h3,h4,h5,h6,p {	margin: 0;	color: #fff;}

h1 {font-size: 60px;}
h2 {font-size: 48px;}
h3 {font-size: 30px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}
p {font-size: 12px;}

.main__wrapper {
	margin: 20px 0 0;
	display: flex;
	justify-content: space-between;
}

.main__wrapper > .center__sidebar {
	position: relative;
	width: 100%;
}

.main__wrapper > .left__sidebar {
	margin: -20px 0 0;
	padding: 10px 15px;
	height: calc(100vh - 80px);
	background: #1f2424;
	text-align: center;
}

.left__sidebar > .game__item {
	padding: 5px 0;
}

#hideChat {
	position: fixed;
	top: calc(100% - 89px);
	margin: 0 -27px;
	padding: 11px 7px 11px 11px;
	background: #4CAF50;
	color: #fff;
	font-size: 18px;
	border: 0;
	border-radius: 50px 0 0 50px;
	z-index: 3;
}

.close__chat::after {
	content: "<";
}

.open__chat::after {
	content: ">";
}