/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.right__sidebar {
		position: fixed;
		right: 0;
	}

	.right__sidebar #chatwindow {
		height: calc(100vh - 137px); 
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	header .app__logo h3 > span:nth-child(1) {
		display: none;
	}


}

@media only screen and (max-width : 517px) {
	.main__wrapper > .left__sidebar {
		height: auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header .app__logo h3 > span:nth-child(2) {
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 350px) {
	.app__nav__menu > .app__nav__page__nightmode {
		margin: 0 auto;
	}

	.user-balance {
		margin: 0 auto;
	}

	.right__sidebar #chatwindow {
		width: 270px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}